

//-
  # Portfolio
  - `originalFileContent`: New
  - `sourceAuthor`: jcruz
  - `title`: Dynamic-Site Portfolio
  - `description`: Team Treehouse Unit Project 6. Server-side JavaScript practice.
  - `majorVersionCode`: initial
  - `gitHeirarchy`: git submodule for `axaeon.com`
  - `projectCode`: 6tth
  - `author`: jcruz
  - `email`: jcruz@axaeon.com
  - `centralRepo`: https://github.com/jcruzaxaeon/portfolio.git
  - `branch`: main
  - `org`: Team Treehouse
  - `orgType`: Code Academy
  - `certification`: Fullstack JavaScript Techdegree
  - `lesson`: Unit Project 6
  - `topics`: Node.js, Express, Pug

extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Joel Cruz
        p Full Stack JavaScript Developer

         .about-bio
          p Fullstack developer with experience in electronics, and education.

      .skills-contact-box.box
        h6 Skills
        ul
          li OOP JavaScript, HTML, CSS
          li Node.js, Express, Pug
          li Debian 10
          li CLI Git, GitHub
          li VS Code, Vim
          li Accessibility
          li Fetch and Public APIs

        h6 Contact Info
        ul
          li jcruz@axaeon.com

        a.btn-link(href='https://github.com/jcruzaxaeon/') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back

