extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Joel Cruz

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Fullstack developer with experience in electronics, and education.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li OOP JavaScript, HTML, CSS
          li Node.js, Express, Pug
          li Debian 10
          li CLI Git, GitHub
          li VS Code, Vim
          li Accessibility
          li Fetch and Public APIs

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li jcruz@axaeon.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
         a.btn-link(href='') LinkedIn
         a.btn-link(href='') Twitter
        a.btn-link(href='https://github.com/jcruzaxaeon/') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back

