

//-
  # Portfolio
  - `originalFileContent`: New
  - `sourceAuthor`: jcruz
  - `title`: Dynamic-Site Portfolio
  - `description`: Team Treehouse Unit Project 6. Server-side JavaScript practice.
  - `majorVersionCode`: initial
  - `gitHeirarchy`: git submodule for `axaeon.com`
  - `projectCode`: 6tth
  - `author`: jcruz
  - `email`: jcruz@axaeon.com
  - `centralRepo`: https://github.com/jcruzaxaeon/portfolio.git
  - `branch`: main
  - `org`: Team Treehouse
  - `orgType`: Code Academy
  - `certification`: Fullstack JavaScript Techdegree
  - `lesson`: Unit Project 6
  - `topics`: Node.js, Express, Pug

extends layout.pug

block content

   nav.nav
      a(href='/')
         span &larr;
         |  Back

   .box
      h1 Great. You broke it.
      p <u>Note</u>: This is why we can't have nice things.
      p <u>Status Code</u>: #{error.status}
      p <u>Status Message</u>: #{error.message}
      p <u>Rendered</u>: error.pug
      p <u>URL Requested</u>: 
         pre 
            code #{url}
      p <u>Error Stack</u>:
      pre 
         code #{error.stack}

   nav.nav
      a(href='/')
         span &larr;
         |  Back