

//-
  # Portfolio
  - `originalFileContent`: New
  - `sourceAuthor`: jcruz
  - `title`: Dynamic-Site Portfolio
  - `description`: Team Treehouse Unit Project 6. Server-side JavaScript practice.
  - `majorVersionCode`: initial
  - `gitHeirarchy`: git submodule for `axaeon.com`
  - `projectCode`: 6tth
  - `author`: jcruz
  - `email`: jcruz@axaeon.com
  - `centralRepo`: https://github.com/jcruzaxaeon/portfolio.git
  - `branch`: main
  - `org`: Team Treehouse
  - `orgType`: Code Academy
  - `certification`: Fullstack JavaScript Techdegree
  - `lesson`: Unit Project 6
  - `topics`: Node.js, Express, Pug

extends layout.pug

block content

  article.portfolio-intro

    h1 Portfolio
    p keystone projects 
    //-completed as end-of-unit projects during the Team Treehouse Fullstack JavaScript Developer curriculum.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project, i in projects
         .cell 
            a(href=`/project/${i+1}`)
               img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
               h5 #{project.project_name}

         